<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/edit.css">
    <title>Edit your chat</title>
</head>
<body>
    <h2>You are about to adit your Message</h2>
    <form action="/chats/<%= chat.id %>?_method=PATCH" method="post">
         <h3>Message was Sent by @<%= chat.from %> to @<%=chat.to %> </h3>
     <br>
     <textarea name="message" ><%= chat.message %></textarea>
     <button>Edit chat</button>
    </form>

</body>
</html>