<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <title>Add new Chat</title>
</head>
<body>
    <h2>Write New Chat...</h2>
    <form action="/chats" method="post" id="container">
        <input type="text" name="from" placeholder="Your name">
        <textarea name="message" placeholder="Write your message...."></textarea>
        <input type="text" name="to" placeholder="Rceiver name">
         <div class="button-wrapper">
            <button>Add chat</button>
         </div>
    </form>
      
</body>
</html>